html{
  margin: 0px;
	padding: 0px;
}
body{
  width: 100%;
  background-color: #F5FFFA	;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: #778899;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #778899	;
}
a:hover{
  color: #F5FFFA;
}

/**HEADER**/

header{
  width: 99.7%;
  background-color: #BED3EF;
  height: 75vh;
  border-style: solid;
  border-color: #BED3EF;
  margin: 0%;
  padding: 0%;
}

/* BOUTONS SWITCH 
.switch{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}
.switch, .btn{
  text-align: center;
}
.btn {
  background-color: rgb(158, 159, 209); 
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn:hover{
  background-color: rgb(161, 179, 207);
}

#horloge{
  text-align: center;
  padding-top: 0%;
}
*/

h1{
  text-align: center;
  font-size: 3.7em;
  font-weight: 400;
  margin-top: 0;
  padding-top: 1.5em;
}
h2{
  text-align: center;
  padding-top:1.8vh;
  font-size: 2.8em;
  font-weight: 400;
  color: #F5FFFA;

}

/**PRESENTATION**/

.presentation p{
  width:45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 0.9em;
  padding-top: 0.8em;
}
hr{
  width:45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #abb2bf;
  size: 1px;
}

/** SECTIONS **/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h4{
  color: #56b6c2;
  font-size: 2.5em;
}

.lang{
  color: #e06c75;
}


/**COMPETENCES**/

.competences h4{
  text-align: center;
  padding-top: 2em;
  font-size: 3.2em;
}
.container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
  padding-bottom: 2em
}
.comp{
  grid-column: 1;
  text-align: right;
  padding-right: 0.8em;
}
.star{
  grid-column: 2;
  text-align: left;
  color: rgb(231, 238, 235)	;
}
.etoiles{
  color:#e06c75;
}

/**FORMATION - EXPERIENCES**/

.formation h4{
  font-size: 2.5em;
  text-align: right;
}
.jobs{
  color: #d19a66;
}
.diplomes{
  color: #66CDAA;
}
.container2{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 42% 16% 42%;
}
.formation{
  text-align: right;
  grid-column: 1;
  font-size: 1.5em;
}
.experiences{
  padding-top: 0.3;
  grid-column: 3;
  font-size: 1.5em;
}
.trait{
  padding-top:4em;
  font-size:2.2em;
  text-align: center;
  grid-column: 2;
  color: #abb2bf;
}

/** REALISATIONS **/

.realisations h4{
  text-align: center;
  font-size: 3.2em;
}

/** LANGUES **/

.langues h4{
  font-size: 3em;
}
.langues{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.langues ul{
  padding-bottom: 0.9em;
  font-size: 2em;
}

/** FOOTER **/

footer{
  background-color: #BED3EF;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1.2em;
}
footer hr{
  color: #F5FFFA;
  height: 0.5px;
}

 /** TO TOP **/

#scroll_to_top { 
  position: fixed; 
  width: 45px; 
  height: 45px; 
  bottom: 50px; 
  right: 30px; 
} 
#scroll_to_top img { 
  width: 55px; 
}

/**MEDIA QUERIES**/

@media screen and (max-width: 375px) {
  header{
    height: 20vh;
  }

  .trait{
  padding-top:4em;
  font-size:4em;
  text-align: center;
  grid-column: 2;
  color: #abb2bf;
}
}