html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1f20;
    font-family: 'Roboto Mono', monospace;
    color: #ccd0d8;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #d19a66;
}
ul{
    padding:0;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 1, 8);
    border: solid 1px #1E2126;
    text-align: center;
    position: relative;
}
.titres{
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
h1{
    width: 200px;
    margin: auto;}
h2{
    margin: 10px 0 0 0;
    color: #e06c75;
}
h4{
    font-size: 30px;
    color: #56b6c2;
    margin: 40px auto;
}
nav{
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(3, 1, 8); 
}
.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu li{
    padding: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  margin-bottom: 20px;
}
section{
    width: 100%;
    padding: 120px 10px;
    margin: auto;
    text-align: center;
    line-height: 32px;
}
.presentation{
    width: 80%;
    border-top: solid 8px rgba(197, 197, 197, 0.068);
    border-bottom: solid 8px rgba(197, 197, 197, 0.068);
}
.jobs{
    font-size: 20px;
    color: #d19a66;
}
.diplomes{
    font-size: 20px;  
    color: #e06c75;
}

.comp ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.comp li{
    height: 180px;
    width: calc(100% / 2);
    padding: 16px;
}
.comp img{
    width: 80px;
    height: auto;
    object-fit:cover;
}
.container2{
    border-bottom: solid 2px rgba(197, 197, 197, 0.068);
}
.langues{
    border-bottom: solid 2px rgba(197, 197, 197, 0.068);
    border-top: solid 2px rgba(197, 197, 197, 0.068);
}
.langues img{
    width: 100px;
    height: 50px;
    object-fit:cover;
}

.travaux img{
    width: 100%;
    height: auto;
    padding: 10px;
    object-fit:cover;
}
.contact{
    border-top: solid 2px rgba(197, 197, 197, 0.068);
}

/**FOOTER**/
footer{
    width: auto;
    font-size: 1em;
    line-height: 30px;
    text-align: center;
    position: relative;
}
footer ul{
    width: 100%;
    height: 44vh;
    padding: 10px;
    margin: 0;
    background-color: black;
    border-style: solid;
    border-color: #1E2126;

}
.col2{
    display: flex;
    justify-content: center;    
}
.col2 li{
    margin: 10px;
}
footer img{
    width: 32px;
    height: 32px;
}
/** TO TOP **/
#toTop { 
  display:none;
  position: fixed; 
  z-index: 2;
  bottom: 87px; 
  right: 5px;
  cursor: pointer;
} 
#toTop img { 
  width: 48px; 
  height: 48px; 
  background-color: rgba(68, 68, 68, 0.74);
  border-radius: 40px;
}
@media(min-width: 467px){
    nav{
        height: 72px;
    }
}
@media (min-width: 768px){
    .titres{
        height: 66%;
        font-size: 20px;
    }
    section{
        width: 60%;       
    }
    .presentation{
        width: 50%;
    }
    .comp li{
        width: calc(100% / 3);
    }
    .realisations{
        width: 80%;
    }
    .travaux{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .travaux li{
        width: calc(100% / 2);
    }
    .travaux img{
        width: 100%;
    }
    footer ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .col1,.col2,.col3{
        width: calc(100% / 3);
        flex-wrap: wrap;
    }
    .col1{
        text-align: right;
    }
    .col3{
        text-align: left;
    }
    #toTop{
        right: 24px;
    }
    #toTop img { 
        width: 64px; 
        height: 64px;
    }
}
@media (min-width: 1024px){
    .titres{
        height: 78%;
        font-size: 38px
    }
    section{
        padding: 60px 10px;
    }
    h1{
        width: 390px;
    }
    .travaux img{
        padding: 28px;
    }
}